<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>user:<%= @user %></id>
  <title><%= @user %>'s gist comments</title>
  <icon>https://assets-cdn.github.com/favicon.ico</icon>
  <link href="<%= request.url %>" rel="self" />
  <link href="https://github.com/<%= @user %>" rel="alternate" />
  <updated><%= @comments[0]["lastEditedAt"] if @comments[0] %></updated>
<%- @comments.each do |c| -%>

  <entry>
    <id>gist:comment:<%= "#{c["comment_id"]}:#{c["lastEditedAt"]}" %></id>
    <title>Comment by <%= c["author"]["login"] %></title>
    <link href="https://gist.github.com/<%= "#{@user}/#{c["gist_id"]}#gistcomment-#{c["comment_id"]}" %>" />
    <updated><%= c["lastEditedAt"] %></updated>
    <author><name><%= c["author"]["login"] %></name></author>
    <content type="html">
&lt;p>User <%= c["author"]["login"] %> commented on &lt;a href="https://gist.github.com/<%= "#{@user}/#{c["gist_id"]}" %>"><%= c["gist_id"] %>&lt;/a> at <%= format_date(c["createdAt"]) %>:&lt;/p>
&lt;pre><%= CGI.escapeHTML(c["body"]).gsub(/&([lg])t;/, '&amp;\1t;') %>&lt;/pre>
    </content>
  </entry>
<%- end -%>
</feed>
