<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>user:<%= @user %></id>
  <title><%= @user %>'s gist comments</title>
  <icon>https://assets-cdn.github.com/favicon.ico</icon>
  <link href="https://gh-rss.herokuapp.com/<%= @user %>.xml" rel="self" />
  <updated><%= @gist_comments[0][1]["updated_at"] if @gist_comments[0] %></updated>
  <author>
    <name>Stefan Sundin</name>
    <uri>https://gh-rss.herokuapp.com/</uri>
  </author>
<% @gist_comments.each do |id, c| %>

  <entry>
    <id>gist:comment:<%= "#{c["id"]}:#{c["updated_at"]}" %></id>
    <title>Comment by <%= c["user"]["login"] %></title>
    <link href="https://gist.github.com/<%= "#{@user}/#{id}#comment-#{c["id"]}" %>" />
    <updated><%= c["updated_at"] %></updated>
    <author><name><%= c["user"]["login"] %></name></author>
    <content type="html">
&lt;p>User <%= c["user"]["login"] %> commented on &lt;a href="https://gist.github.com/<%= "#{@user}/#{id}" %>"><%= id %>&lt;/a> at <%= format_date(c["created_at"]) %>:&lt;/p>
&lt;pre>
<%= c["body"] %>
&lt;/pre>
    </content>
  </entry>
<% end %>
</feed>
