<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>user:<%= @user %></id>
  <title><%= @user %>'s gist comments</title>
  <icon>https://assets-cdn.github.com/favicon.ico</icon>
  <link href="<%= request.url %>" rel="self" />
  <link href="https://github.com/<%= @user %>" rel="alternate" />
  <updated><%= @comments[0]["lastEditedAt"] if @comments[0] %></updated>

  <entry>
    <id>service-termination-notice</id>
    <title>Notice: gh-rss.herokuapp.com will stop working soon</title>
    <link href="https://github.com/stefansundin/github-activity/issues/5" />
    <updated>2022-10-23T18:00:00Z</updated>
    <content type="html">
&lt;p>Heroku is shutting down their free tier and I have decided that I will stop supporting this project so there will be no replacement. If you still need this functionality then please consider forking the repository and hosting it on your own. Please post any comments you may have in the following issue: &lt;a href="https://github.com/stefansundin/github-activity/issues/5">https://github.com/stefansundin/github-activity/issues/5&lt;/a>&lt;/p>
&lt;p>If you haven't notice, GitHub has had email notifications since 2019. &lt;a href="https://github.com/stefansundin/github-activity/issues/2">https://github.com/stefansundin/github-activity/issues/2&lt;/a>&lt;/p>
&lt;p>Thanks for 7 years. :)&lt;/p>
&lt;p>Please unsubscribe from this feed as I can't guarantee that no one can steal this domain afterwards!&lt;/p>
</content>
  </entry>
<%- @comments.each do |c| -%>

  <entry>
    <id>gist:comment:<%= "#{c["databaseId"]}:#{c["lastEditedAt"]}" %></id>
    <title>Comment by <%= c["author"]["login"] || "[deleted]" %></title>
    <link href="https://gist.github.com/<%= "#{@user}/#{c["gist_name"]}#gistcomment-#{c["databaseId"]}" %>" />
    <updated><%= c["lastEditedAt"] %></updated>
    <author><name><%= c["author"]["login"] || "[deleted]" %></name></author>
    <content type="html">
&lt;p>User <%= c["author"]["login"] || "[deleted]" %> commented on &lt;a href="https://gist.github.com/<%= "#{@user}/#{c["gist_name"]}" %>"><%= c["gist_name"] %>&lt;/a> at <%= format_date(c["createdAt"]) %>:&lt;/p>
&lt;pre><%= CGI.escapeHTML(c["body"]).gsub(/&([lg])t;/, '&amp;\1t;') %>&lt;/pre>
    </content>
  </entry>
<%- end -%>
</feed>
